:root {
    --white: #FFFFFF;
    --black: #303841;
    --gray: #777777;
    --yellow: #F6C90E
}

body {
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    justify-items: center;
    height: 100vh;
    width: 740px;
    max-width: 100%;
    justify-content: space-between;
    position: relative;
    align-items: center;
    padding: 0 10px;
}

.card {
    display: flex;
    width: 360px;
    height: 600px;
    background: white;
    border-radius: 5%;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;

}

.card::before {
    content: "";
    display: flex;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    top: -30%;
    left: -30%;
    background-color: var(--yellow);
    position: absolute;
}


.cardBody {
    width: 300px;
    position: relative;
    height: 100%;
    margin: 30px;
    overflow-y: scroll;
    align-items: center;
}

.cardBody::-webkit-scrollbar {
    display: none;
}

.cardBody img {
    width: 100%;
    transform: rotate(-20deg);

}

.cardLogo {
    margin: 30px;
    width: 100%;
    position: relative;
    z-index: 0;
}

.cardHeader {
    margin-left: 30px;
    width: 300px;
    z-index: 1;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
}

.cardLogo img {
    width: 60px;
    overflow-clip-margin: padding-box;
    overflow: clip;
}

.item {
    margin-bottom: 30px;
}

.item img {
    filter: drop-shadow(0 20px 20px rgba(0, 0, 0, 0.2));
}

.itemImage{
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 360px;
    margin-bottom: 20px;
}

.itemName {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}
.itemDescription{
    margin-bottom: 30px;
    color: var(--gray);
}

.itemBottom {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.itemPrice {
    font-size: 20px;
    font-weight: bold;
}

.addButton {
    background-color: var(--yellow);
    color: #282c34;
    font-weight: bold;
    font-size: 20px;
    border-radius: 30px;
    padding: 10px 20px;
    border: none;

}

.cardRight .cardBody{
    display: flex;
    flex-direction: column;
}
.waitingItem{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    min-height: 140px;
}
/*.waitingItem .containerImage:before{*/
/*    content: "";*/
/*    display: flex;*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    border-radius: 100%;*/
/*    background-color: var(--yellow);*/
/*    position: absolute;*/
/*}*/

.circleBackground{
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: var(--yellow);
    position: absolute;
}

.waitingItem .containerImage{
    width: 120px;
    box-sizing: border-box;
}

.waitingItem img{
    z-index: 1;
    width: 140px;
    transform: translateX(-20px) translateY(-30px) rotate(-20deg);
}
.detail{
    width: 100%;
}

.detail .name{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.detail .price{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.bottomAction{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.quantity{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;
}

.roundButton{
    width: 25px;
    height: 25px;
    /*background-color: lightgray;*/
    border-radius: 100%;
    border: none;
}

.roundButton img{
    width: 100%;
    transform: rotate(0) !important;
}

.delete .roundButton{
    background-color: var(--yellow);
}

.fitToTop{
    display: flex;
    align-items: flex-start;
}

.checkedButton{
    width: 40px;
    height: 40px;
    background-color: var(--yellow);
    border-radius: 100%;
    border: none;
}

.checkedButton img{
    transform: scale(70%) rotate(0);
}

.buttonEffect:hover{
    cursor: pointer;
    /*box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;*/
    transition: .2s;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
    filter: brightness(90%);
}

.mountedAnimation{
    transform: translateY(15px);
    transition: opacity 2s ease, transform 2s ease;
}
.unmountedAnimation{
    transform: translateY(0);
}

.waitingItem-enter{
    opacity: 0;
}

.waitingItem-enter-active{
    opacity: 1;
    transition: opacity 500ms ease-in;
}


/*.waitingItem-enter-exist{*/
/*    opacity: 1;*/
/*}*/
.waitingItem-exit{
    opacity: 1;
}
.waitingItem-exit-active{
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    /*transition: 2s cubic-bezier(.79,.01,.22,1);*/
}

/*.waitingItem-enter-exist-done{*/
/*    opacity: 0;*/
/*}*/